<div class="desmos-holder">
    <div class="control-wrapper">
        <label class="desmos-type-label" for="desmos-type-{{modelID}}">Desmos Type: </label>
        <select class="desmos-type form-control" name="desmos-type-{{modelID}}" id="desmos-type-{{modelID}}">
            <option value="calculator">Calculator</option>
        </select>
    </div>
    <div class="control-wrapper form-group">
        <label class="desmos-url-label" for="desmos-url-{{modelID}}">Desmos URL: </label>
        <input type="text" class="desmos-url form-control" id="desmos-url-{{modelID}}" />
    </div>
</div>