<div class="html-template">
    <div class="control-wrapper form-group">
        <label class="label css-class-label" for="css-class-{{modelID}}">CSS Class: </label>
        <input type="text" class="css-class form-control" id="css-class-{{modelID}}" value="{{cssClass}}" />
    </div>
    <div class="control-wrapper">
        <label class="label css-class-label d-inline-b va-middle" for="inner-html-{{modelID}}">HTML: </label>
        <textarea class="inner-html d-inline-b va-middle" id="inner-html-{{modelID}}">{{innerHTML}}</textarea>
    </div>
</div>