<div id="{{idPrefix}}virus-data-table" class="virus-data-table"></div>

<div id="{{idPrefix}}virus-data-right-panel" class="virus-data-right-panel">
	<div id="{{idPrefix}}virus-data-right-panel-div" class="virus-data-right-panel-div">
		<div id="{{idPrefix}}virus-data-text1-holder" class="virus-data-text1-holder"></div>
		<div id="{{idPrefix}}virus-data-zapped-count" class="virus-data-zapped-count"></div>
		<div id="{{idPrefix}}virus-data-text2-holder" class="virus-data-text2-holder"></div>
	</div>
	<div id="{{idPrefix}}virus-data-right-panel-img-div" class="virus-data-right-panel-img-div">
		<div id="{{idPrefix}}red-virus" class="red-virus"></div>
		<div id="{{idPrefix}}bonus-virus" class="bonus-virus"></div>
		<div id="{{idPrefix}}bean-virus" class="bean-virus"></div>
		<div id="{{idPrefix}}sponge-virus" class="sponge-virus"></div>
		<div id="{{idPrefix}}grape-virus" class="grape-virus"></div>
	</div>
</div>
<div id="{{idPrefix}}back-to-game-btn" class="back-to-game-btn"></div>
<div id="{{idPrefix}}virus-zapped-info" class="virus-zapped-info"></div>