<div  id="{{idPrefix}}grid-wrapper-panel" class="grid-wrapper-panel">
  <div  id="{{idPrefix}}grid-wrapper-container" class="grid-wrapper-container">
    <div id="{{idPrefix}}grid-wrapper-1" class="grid-wrapper"></div>
    <div id="{{idPrefix}}grid-wrapper-2" class="grid-wrapper"></div>
    <div id="{{idPrefix}}grid-wrapper-3" class="grid-wrapper"></div>
  </div>
</div>

<div id="{{idPrefix}}direction-text-wrapper" class="direction-text-wrapper">
	<div id="{{idPrefix}}direction-text" class="direction-text"></div>
	<div id="{{idPrefix}}direction-text-1" class="direction-text-1"></div>
</div>
<div id="{{idPrefix}}explore-question-answer-panel" class="explore-question-answer-panel"></div>
<div id="{{idPrefix}}explore-button-wrapper" class="explore-button-wrapper">
	<div id="{{idPrefix}}view-data-btn" class="view-data-btn"></div>
	<div id="{{idPrefix}}increment-btn" class="increment-btn"></div>
</div>
<div id="{{idPrefix}}number-line-acc-div" class="number-line-acc-div"></div>
<div id="{{idPrefix}}number-line-container" class="number-line-container"></div>