  <div id="{{idPrefix}}question-answer-panel" class="question-answer-panel">
    <div id="{{idPrefix}}health-meter-container" class="health-meter-container">
        <div id="{{idPrefix}}health-meter-title" class="health-meter-title"></div>
        <div id="{{idPrefix}}health-meter-bars" class="health-meter-bars">
            <div id="{{idPrefix}}health-meter-bar1" class="health-meter-bar1"></div>
            <div id="{{idPrefix}}health-meter-bar2" class="health-meter-bar2"></div>
            <div id="{{idPrefix}}health-meter-bar3" class="health-meter-bar3"></div>
            <div id="{{idPrefix}}health-meter-bar4" class="health-meter-bar4"></div>
            <div id="{{idPrefix}}health-meter-bar5" class="health-meter-bar5"></div>
        </div>
    </div>
    <div id="{{idPrefix}}question-container" class="question-container">
        <div id="{{idPrefix}}question-title-part1" class="question-title-part1"></div>
        <div class="math-question-holder">
            <div id="{{idPrefix}}question-display-area" class="question-display-area"></div>
        </div>
        <div id="{{idPrefix}}question-title-part2" class="question-title-part2"></div>
    </div>
    <div id="{{idPrefix}}answer-container" class="answer-container">
        <div id="{{idPrefix}}answer-title" class="answer-title"></div>
        <div id="{{idPrefix}}answer-display-area" class="answer-display-area">
            <div id="{{idPrefix}}symbol-container" class="symbol-container"></div>
            <div id="{{idPrefix}}answer-value-container" class="answer-value-container">
                <div id="{{idPrefix}}first-digit" class="first-digit"></div>
                <div id="{{idPrefix}}symbol-dot" class="symbol-dot"></div>
                <div id="{{idPrefix}}second-digit" class="second-digit"></div>
                <div id="{{idPrefix}}third-digit" class="third-digit"></div>
                <div id="{{idPrefix}}fourth-digit" class="fourth-digit"></div>
            </div>
        </div>
    </div>
  </div>