<div>
  <div id="{{idPrefix}}graphing-tab-activity-acc-container" class="graphing-tab-activity-acc-container"></div>
  <div class="graphing-tab-activity-area">
  <div class="show-points-box">
  <div id="{{idPrefix}}show-points-label" class="show-points-label"></div>
    <div id="{{idPrefix}}show-points-select" class="show-points-select">
    </div>
  </div>

  <div class="equation-container-box">

  <div id="{{idPrefix}}equation-container" class="equation-container">
    <div id="{{idPrefix}}output-value" class="output-value"></div>
  </div>
  </div>

  <div id="{{idPrefix}}dummy-drag-help" class="dummy-drag-help"></div>
    <div id="{{idPrefix}}rotate-animation-acc-container" class="rotate-animation-acc-container"></div>

    <div id="{{idPrefix}}rotate-animation-container" class="rotate-animation-container animation-canvas-container">
    <canvas id="{{idPrefix}}rotate-animation-canvas"  width="450" height="320" class="rotate-animation-canvas transformation-animation-canvas"></canvas>
    <div id="{{idPrefix}}circle-labels" class="circle-labels"></div>
  </div>

  <div id="{{idPrefix}}radius-container" class="radius-container slider-containers">
    <div class="slider-text-label radius-slider-text-container">
      <div id="{{idPrefix}}radius-slider-text" class="radius-slider-text"></div>
      <div id="{{idPrefix}}radius-slider-value" class="radius-slider-value"></div>
    </div>
    <div id="{{idPrefix}}radius-slider-container" class="radius-slider-container">
      <div id="{{idPrefix}}radius-slider" class="radius-slider">

      </div>
    </div>
  </div>

  <div id="{{idPrefix}}slider-divider" class="slider-divider"></div>
  <div id="{{idPrefix}}distance-container" class="distance-container slider-containers">
    <div class="slider-text-label distance-slider-text-container">
      <div id="{{idPrefix}}distance-slider-text" class="distance-slider-text"></div>
      <div id="{{idPrefix}}distance-slider-value" class="distance-slider-value"></div>
    </div>
    <div id="{{idPrefix}}distance-slider-container" class="distance-slider-container">
      <div id="{{idPrefix}}distance-slider" class="distance-slider">

      </div>
    </div>
  </div>

  </div>
</div>