<div id="{{idPrefix}}map-sin-cos" class="map-sin-cos">
    <div id="{{idPrefix}}exploreMapping-direction-text-wrapper" class="exploreMapping-direction-text-wrapper">
        <div id="{{idPrefix}}exploreMapping-direction-text-holder" class="exploreMapping-direction-text-holder"></div>
    </div>
    <div id="{{idPrefix}}mapping-tab-activity-acc-container" class="mapping-tab-activity-acc-container"></div>
    <div id="{{idPrefix}}mapping-tab-container" class="mapping-tab-container">
        <div id="{{idPrefix}}mapping-tab-combobox-container" class="mapping-tab-combobox-container">
            <div id="{{idPrefix}}mapping-tab-points-combobox-label-acc" class="mapping-tab-points-combobox-label-acc"></div>
            <span id="{{idPrefix}}mapping-tab-combobox-label" class="mapping-tab-combobox-label">
            </span>
            <div id="{{idPrefix}}mapping-tab-combobox-holder" class="mapping-tab-combobox-holder">
            </div>
        </div>

        <div id="{{idPrefix}}dummy-center-help" class="dummy-center-help"></div>

     
        <div id="{{idPrefix}}mapping-tab-canvas-acc-container" class="mapping-tab-canvas-acc-container"></div>
        <div id="{{idPrefix}}mapping-tab-canvas-container" class="mapping-tab-canvas-container">
            <canvas id="{{idPrefix}}mapping-canvas" height="400" width="930"></canvas>
        </div>
        <div id="{{idPrefix}}radius-indicator-container" class="radius-indicator-container">
            <span id="{{idPrefix}}radius-indicator-label" class="radius-indicator-label"></span>
        </div>
        <div id="{{idPrefix}}next-button-container" class="next-button-container">
        </div>
        <div id="{{idPrefix}}feedback-container" class="feedback-container">
        </div>

    </div>
</div>