<div class="control-button-container">
    <button id="try-again-question{{this.id}}" data-compID={{this.id}} class="control-tpl-button tryAgain right-align-controls hide">
        <i class="bil-icon-k-5-try-again icon" aria-hidden="true"></i>
        <span class="btn-text"></span>        
    </button>
    <button id="show-answer-question{{this.id}}" data-compID={{this.id}} class="control-tpl-button show-answer right-align-controls hide">
        <i class="bil-icon-k-5-help icon" aria-hidden="true"></i>
        <span class="btn-text"></span>
    </button>
    <button id="validate-question{{this.id}}" data-compID={{this.id}} class="control-tpl-button validate right-align-controls" disabled="disabled">
        <i class="bil-icon-k-5-check icon" aria-hidden="true"></i>
        <span class="btn-text"></span>
    </button>
</div>