<div id="{{idPrefix}}left-panel-container" class="left-panel-container">
  <div id="{{idPrefix}}artifact-header-container" class="artifact-header-container">
    <div class="artifact-name">{{objectName}}</div>
    <div class="artifact-parts-container">
      <div class="box-ui left-padding-first-part border-part-1">
        <div class="first-part-info parts-background-1-{{itemName}}"></div>
      </div>
      <div class="box-ui left-padding-second-part border-part-2">
        <div class="second-part-info parts-background-2-{{itemName}}"></div>
      </div>
      <div class="box-ui left-padding-third-part border-part-3">
        <div class="third-part-info parts-background-3-{{itemName}}"></div>
      </div>
    </div>
  </div>

  <div id="{{idPrefix}}junks-score-container" class="junks-score-container">
    <div class="junks-score-corss-sign">
      <div class="fa fa-times"></div>
    </div>
    <div class="junks-score-count">0</div>
  </div>

  <div id="{{idPrefix}}artifact-information-container" class="artifact-information-container">
    <div class="artifact-background-image">
      <div class="object-parts-information">
        <div class="first-part">
          <div class="box-ui border-part-1">
            <div class="first-part-image parts-background-1-{{itemName}}"></div>
          </div>
          <div class="first-part-name">{{firstPartName}}</div>
        </div>
        <div class="second-part">
          <div class="box-ui border-part-2">
            <div class="second-part-image parts-background-2-{{itemName}}"></div>
          </div>
          <div class="second-part-name">{{secondPartName}}</div>
        </div>
        <div class="third-part">
          <div class="box-ui border-part-3">
            <div class="third-part-image parts-background-3-{{itemName}}"></div>
          </div>
          <div class="third-part-name">{{thirdPartName}}</div>
        </div>
      </div>
    </div>
    <div id="{{idPrefix}}artifact-image-container-{{itemName}}" class="artifact-image-container-{{itemName}}">
      <div class="artifact-first-part-{{itemName}}"></div>
      <div class="artifact-second-part-{{itemName}}"></div>
      <div class="artifact-third-part-{{itemName}}"></div>
    </div>
    <div id="{{idPrefix}}steper-container" class="steper-container">
      <div class="steper-left-bracket">(</div>
      <div id="{{idPrefix}}steper-x" class="steper-x"></div>
      <div class="steper-comma">,</div>
      <div id="{{idPrefix}}steper-y" class="steper-y"></div>
      <div class="steper-right-bracket">)</div>
    </div>
    <div id="{{idPrefix}}dig-button-container" class="dig-button-container"></div>
    <div id="{{idPrefix}}red-box-container" class="red-box-container">
      <div id="{{idPrefix}}red-box-container-cross-sign" class="cross-sign">
        <div id="{{idPrefix}}cross-sign" class="fa fa-times"></div>
      </div>
      <div class="red-box-text"></div>
    </div>
  </div>

  <div id="{{idPrefix}}object-found-container" class="object-found-container">
    <div class="round-background-container">
      <div class="display-object-container"></div>
    </div>
    <div id="{{idPrefix}}object-found-info" class="object-found-info">
      <div class="object-found-header"></div>
      <div class="object-found-footer">
        <div class="object-found-image"></div>
        <div class="object-found-name"></div>
      </div>
    </div>
    <div id="{{idPrefix}}villain-callout-text-container" class="villain-callout-text-container">
      <div class="villain-callout-text"></div>
    </div>

    <div class="villain-object-collector">
      <div class="villain-object-collector-counter"></div>
      <div class="villain-object-collector-image"></div>
    </div>
    <div class="object-found-men-face"></div>
    <div id="{{idPrefix}}payup-button-container" class="payup-button-container"></div>
    <div id="{{idPrefix}}continue-button-container" class="continue-button-container"></div>
  </div>
  <div id="{{idPrefix}}dummy-junks-container" class="dummy-junks-container"></div>
  <div id="{{idPrefix}}background-animation-container" class="background-animation-container"></div>
</div>
