<div id="{{idPrefix}}tooltip-inner-container" class="tooltip-inner-container">
  <div id="{{idPrefix}}coordinate-container" class="coordinate-container">(<span id="{{idPrefix}}x-coordinate-text" class="x-coordinate-text">{{x}}</span>,<span id="{{idPrefix}}y-coordinate-text" class="y-coordinate-text">{{y}}</span>)
</div>
  <div id="{{idPrefix}}image-container" class="image-container"> 
</div>
<div id="{{idPrefix}}close-container" class="close-container">
    <div id="{{idPrefix}}close-sign" class="fa fa-times">        
    </div>
</div>
</div>