<div class="hint-box-container">
  <div id="{{idPrefix}}hint-box-header" class="hint-box-header">
    <div id="{{idPrefix}}hint-box-title" class="hint-box-title">
      {{{definitionBoxTitle}}}
    </div>
    <div id="{{idPrefix}}hint-box-header-buttons" class="hint-box-header-buttons">
      <div id="{{idPrefix}}hint-box-tts-container" class="hint-box-tts-container"></div>
      <!--<div id="hint-box-pause-container" class="hint-box-pause-container pause-tts-container">
      <div id="hint-box-pause-tts" class="pause-tts"></div>
    </div>
    <div id="hint-box-tts-container" class="tts-container">
      <div class="hint-box-audio-button-holder tts"></div>
    </div>-->
      <div id="{{idPrefix}}hint-box-close-button" class="hint-box-close-button"></div>
    </div>
  </div>
  <div class="hint-box-text-container">
    <div id="{{idPrefix}}hint-box-content" class="hint-box-content">
      {{{definitionBoxContent}}}
    </div>
  </div>
</div>