<div id="{{idPrefix}}pop-up-modal" class="pop-up-modal">

  <div id="{{idPrefix}}pop-up-dialogue" class="pop-up-dialogue">

    <div id="{{idPrefix}}pop-up-title-bar" class="pop-up-title-bar">
      <div id="{{idPrefix}}pop-up-title-bar-left" class="pop-up-title-bar-left">
      </div>
      <div id="{{idPrefix}}pop-up-title-bar-mid" class="pop-up-title-bar-mid">
        <div id="{{idPrefix}}pop-up-title" class="pop-up-title">
          <div id="{{idPrefix}}pop-up-title-image" class="pop-up-title-image"></div>
          <div id="{{idPrefix}}pop-up-title-text" class="pop-up-title-text">{{{popupTitle}}}</div>
        </div>

        <div id="{{idPrefix}}pop-up-header-btns" class="pop-up-header-btns-cont">
          <div id="{{idPrefix}}pop-up-tts-container" class="pop-up-tts-container tts-container"></div>
          <div class="pop-up-close-btn" id="{{idPrefix}}pop-up-close-btn"></div>
        </div>
      </div>
      <div id="{{idPrefix}}pop-up-title-bar-right" class="pop-up-title-bar-right">
      </div>
    </div>
    <div id="{{idPrefix}}pop-up-body" class="pop-up-body">
      <div id="{{idPrefix}}pop-up-text" class="pop-up-text">
        {{{popupText}}}
      </div>

      <div id="{{idPrefix}}pop-up-btns-container" class="pop-up-btns-container"></div>
      <div id="{{idPrefix}}pop-up-text-ie9-focusout-fix" class="pop-up-text-ie9-focusout-fix"></div>
    </div>
  </div>
</div>
