<div id="{{idPrefix}}explore-tab-holder" class="explore-tab-holder">
  <div id="{{idPrefix}}explore-instruction-bar-0" class="explore-instruction-bars explore-instruction-bar-0"></div>
  <div id="{{idPrefix}}explore-instruction-bar-1" class="explore-instruction-bars explore-instruction-bar-1"></div>
  <div id="{{idPrefix}}explore-instruction-bar-2" class="explore-instruction-bars explore-instruction-bar-2"></div>
  <div id="{{idPrefix}}explore-tab-activity-holder" class="explore-tab-activity-holder">

    <div id="{{idPrefix}}right-panel-screen" class="right-panel-screen">
      <div id="{{idPrefix}}right-panel-table-container" class="right-panel-table-container">
        <div id="{{idPrefix}}actual-shape-table-wrapper" class="actual-shape-table-wrapper">
          <div id="{{idPrefix}}actual-shape-table-container" class="actual-shape-table-conatiner shape-table-conatiner">
            <div id="{{idPrefix}}actual-shape-table" class="actual-shape-table shape-table"></div>
          </div>
          <div id="{{idPrefix}}actual-shape-table-footer" class="actual-shape-table-footer">
            <div id="{{idPrefix}}actual-shape-table-footer-cell-2" class="footer-cell-2 footer-cells unit-cell">
              <div class="unit-cell-content">
                <div class="unit-text">{{unitText}}</div>
                <div class="superscript">2</div>
              </div>
            </div>
            <div id="{{idPrefix}}actual-shape-table-footer-cell-1" class="footer-cell-1 footer-cells">
              <div class="total-area-box input-box-lookalike"></div>
            </div>
            <div id="{{idPrefix}}actual-shape-table-footer-cell-0" class="footer-cell-0 footer-cells">
              <div class="total-text"></div>
            </div>
          </div>
        </div>
        <div id="{{idPrefix}}duplicate-shape-table-wrapper" class="duplicate-shape-table-wrapper">
          <div id="{{idPrefix}}duplicate-shape-table-container" class="duplicate-shape-table-conatiner shape-table-conatiner">
            <div id="{{idPrefix}}duplicate-shape-table" class="duplicate-shape-table shape-table"></div>
          </div>
        </div>
      </div>
      <div id="{{idPrefix}}right-panel-button-container" class="right-panel-button-container">
        <div id="{{idPrefix}}done-button-container" class="done-button-container"></div>
        <div id="{{idPrefix}}next-button-container" class="next-button-container"></div>
        <div id="{{idPrefix}}check-button-container" class="check-button-container"></div>
      </div>
    </div>

    <div id="{{idPrefix}}left-panel-screen" class="left-panel-screen">
      <div id="{{idPrefix}}left-panel-buttons-container" class="left-panel-buttons-container">
        <div id="{{idPrefix}}cut-button-container" class="cut-button-container icon-button-common-class"></div>
        <div id="{{idPrefix}}copy-button-container" class="copy-button-container icon-button-common-class"></div>
        <div id="{{idPrefix}}reflect-button-container" class="reflect-button-container icon-button-common-class"></div>
        <div id="{{idPrefix}}rotate-button-container" class="rotate-button-container icon-button-common-class"></div>
        <div id="{{idPrefix}}undo-button-container" class="undo-button-container icon-button-common-class"></div>
      </div>
      <div id="{{idPrefix}}left-panel-canvas-acc-container" class="left-panel-canvas-acc-container"></div>
      <div id="{{idPrefix}}left-panel-canvas-container" class="left-panel-canvas-container">
        <canvas id="{{idPrefix}}grid-canvas" width="605" height="506" class="grid-canvas"></canvas>
        <canvas id="{{idPrefix}}work-canvas" width="605" height="506" class="work-canvas"></canvas>
        <div id="{{idPrefix}}cut-line-button" class="cut-line-button"></div>
      </div>
      <div class="temporary-tooltip-content-holder"></div>
    </div>
  </div>
</div>