<div id="{{idPrefix}}{{actualOrDuplicate}}-shape-table-row-{{shapeCode}}" class="shape-table-row-{{shapeCode}} shape-table-row">
    <div id="{{idPrefix}}{{actualOrDuplicate}}-shape-miniature-container-{{shapeCode}}" class="{{actualOrDuplicate}}-shape-miniature-container-{{shapeCode}} shape-miniature-container">
        <div id="{{idPrefix}}{{actualOrDuplicate}}-shape-miniature-{{shapeCode}}" class="{{actualOrDuplicate}}-shape-miniature-{{shapeCode}} shape-miniature" style="background-image: url('{{imageURL}}'); width: {{imageWidth}}; height: {{imageHeight}}; margin: {{margin}};"></div>
    </div>
    <div id="{{idPrefix}}{{actualOrDuplicate}}-shape-input-box-cell-{{shapeCode}}" class="{{actualOrDuplicate}}-shape-input-box-cell-{{shapeCode}} input-box-cell">
        <div id="{{idPrefix}}{{actualOrDuplicate}}-shape-input-box-container-{{shapeCode}}" class="{{actualOrDuplicate}}-shape-input-box-container-{{shapeCode}} input-box-container">
            <div id="{{idPrefix}}{{actualOrDuplicate}}-shape-input-box-{{shapeCode}}" class="{{actualOrDuplicate}}-shape-input-box-{{shapeCode}} input-box"></div>
            <div id="{{idPrefix}}{{actualOrDuplicate}}-shape-input-box-badge-{{shapeCode}}" class="{{actualOrDuplicate}}-shape-input-box-badge-{{shapeCode}} input-box-badge"></div>
        </div>
    </div>
    <div id="{{idPrefix}}{{actualOrDuplicate}}-shape-unit-cell-{{shapeCode}}" class="{{actualOrDuplicate}}-shape-unit-cell-{{shapeCode}} unit-cell">
        <div class="unit-text">{{unitText}}</div>
        <div class="superscript">2</div>
    </div>
</div>
