<div id="{{idPrefix}}{{idSuffix}}data-selector-step-screen" class="data-set-selector data-selector-step-screen">
  <div id="{{idPrefix}}{{idSuffix}}data-set-selector-direction-text" class="data-set-selector direction-text"></div>
  <div id="{{idPrefix}}{{idSuffix}}data-set-selector-area" class="data-set-selector data-set-selector-area">
    <div id="{{idPrefix}}{{idSuffix}}data-set-container" class="data-set-selector data-set-container">
    </div>
    <div id="{{idPrefix}}{{idSuffix}}clear-all-btn-container" class="data-set-selector clear-all-btn-container">
    </div>
  </div>
</div>