<div id="{{idPrefix}}-direction-text-containment" class="direction-text-containment">
  <div id="{{idPrefix}}-direction-text-text-tts-cont" class="text-tts-cont">
    <div id="{{idPrefix}}-direction-text-inner-text-tts-cont" class="inner-text-tts-cont">
      <div id="{{idPrefix}}-direction-text-textholder" class="direction-text-textHolder">
        <div id="{{idPrefix}}-direction-text-text" class ="direction-text-text"></div>
      </div>
      <div id="{{idPrefix}}-direction-text-ttsholder" class="direction-text-ttsHolder"></div>
    </div>
  </div>
  <div id="{{idPrefix}}-direction-text-buttonholder" class="direction-text-buttonHolder"></div>
</div>