  <div id="{{idPrefix}}{{tabName}}drag-drop-box" class="drag-drop-box">

    
    <div id="{{idPrefix}}{{tabName}}graph-pane-droppable" class="graph-droppable"></div>

    <div id="{{idPrefix}}{{tabName}}dotted-box" class="drag-drop-dotted-box-pan"></div>
    
    <div id="{{idPrefix}}{{tabName}}-dot" class="drag-drop-dot draggable-items">
      <div id="{{idPrefix}}{{tabName}}dot-helper" class="helper-image drag-drop-helper-dot"></div>
    </div>
    
    
    <div id="{{idPrefix}}{{tabName}}arrow-indicator" class="drag-drop-indicator draggable-items">
      <div class="drag-left-arrow-image"></div><div class="drag-arrow-width"></div><div class="drag-right-arrow-image"></div>
      <div id="{{idPrefix}}{{tabName}}arrow-helper" class="helper-image drag-drop-helper-arrow"></div>
    </div>
    
  </div>
