  <div id="{{idPrefix}}{{tabName}}drag-drop-box" class="drag-drop-box">

    
    <div id="{{idPrefix}}{{tabName}}graph-pane-droppable" class="graph-droppable"></div>

    <div id="{{idPrefix}}{{tabName}}dotted-box" class="drag-drop-dotted-box"></div>
    
    <div id="{{idPrefix}}{{tabName}}filled-dot" class="drag-drop-filled-dot draggable-items">
      <div id="{{idPrefix}}{{tabName}}filled-helper" class="helper-image drag-drop-helper-filled"></div>
    </div>
    
    
    <div id="{{idPrefix}}{{tabName}}unfilled-dot" class="drag-drop-unfilled-dot draggable-items">
      <div id="{{idPrefix}}{{tabName}}unfilled-helper" class="helper-image drag-drop-helper-unfilled"></div>
    </div>
    <div id="{{idPrefix}}{{tabName}}left-indicator" class="drag-drop-left-indicator draggable-items">
      <div class="drag-arrow-image"></div><div class="drag-arrow-width"></div>
      <div id="{{idPrefix}}{{tabName}}left-helper" class="helper-image drag-drop-helper-left"></div>
    </div>
    <div id="{{idPrefix}}{{tabName}}right-indicator" class="drag-drop-right-indicator draggable-items">
      <div class="drag-arrow-width"></div><div class="drag-arrow-image"></div>
      <div id="{{idPrefix}}{{tabName}}right-helper" class="helper-image drag-drop-helper-right"></div> 
    </div>
    
  </div>
