<div id="{{idPrefix}}{{idSuffix}}input-box-container-{{{rowNumber}}}-{{{columnNumber}}}" class="data-set-selector input-box-container"></div>
<span id="{{idPrefix}}{{idSuffix}}tbl-cell-text-{{{rowNumber}}}-{{{columnNumber}}}" class="data-set-selector tbl-cell-text">{{{defaultText}}}</span>
<div id="{{idPrefix}}{{idSuffix}}edit-symbol-{{{rowNumber}}}-{{{columnNumber}}}"  class="data-set-selector edit-symbol" rowNumber="{{rowNumber}}" columnNumber="{{columnNumber}}">
</div>