<div id="{{idPrefix}}graph-circle-formula" class="graph-circle-formula">

  <div id="{{idPrefix}}graph-circle-first-equation" class="graph-circle-first-equation">

    <div id="{{idPrefix}}graph-circle-first-numerator" class="graph-circle-first-numerator">
     <sup>2</sup>
    </div>
  </div>
  <div id="{{idPrefix}}graph-circle-plus" class="graph-circle-plus"> + </div>
  <div id="{{idPrefix}}graph-circle-second-equation" class="graph-circle-second-equation">

    <div id="{{idPrefix}}graph-circle-second-numerator" class="graph-circle-second-numerator">
     <sup>2</sup>
    </div>
  </div>
  <div id="{{idPrefix}}graph-circle-equal-to" class="graph-circle-equal-to"> = </div>
  <div id="{{idPrefix}}graph-circle-r-square" class="graph-circle-r-square">
    <sup>2</sup>
  </div>
</div>