<div id="{{idPrefix}}graph-formula" class="graph-formula">
  <div id="{{idPrefix}}graph-normal-formula">
  <div id="{{idPrefix}}graph-first-equation" class="graph-first-equation">
    <div id="{{idPrefix}}graph-first-numerator" class="graph-first-numerator">
    <sup>2</sup>
    </div>
    <div id="{{idPrefix}}graph-bar" class="graph-bar"></div>
    <div id="{{idPrefix}}graph-first-denominator" class="graph-first-denominator">
  <sup>2</sup>
    </div>
  </div>
  <div id="{{idPrefix}}graph-plus" class="graph-plus"> + </div>
  <div id="{{idPrefix}}graph-second-equation" class="graph-second-equation">

    <div id="{{idPrefix}}graph-second-numerator" class="graph-second-numerator">

  <sup>2</sup>
    </div>
    <div id="{{idPrefix}}graph-bar" class="graph-bar"></div>
    <div id="{{idPrefix}}graph-second-denominator" class="graph-second-denominator">
   <sup>2</sup>
    </div>
  </div>
  <div id="{{idPrefix}}graph-equal-to-row" class="graph-equal-to">=</div>
  <div id="{{idPrefix}}graph-one-row" class="graph-one">1</div>
  </div>
  <div id="{{idPrefix}}degenerated-formula" class="degenerated-formula">
    <div id="{{idPrefix}}degenerated-x" class="degenerated-x"></div>
    <div id="{{idPrefix}}degenerated-equal-to-row" class="degenerated-equal-to-row">=</div>
    <div id="{{idPrefix}}degenerated-y" class="degenerated-y"></div>
  </div>
  </div>
</div>
