<div id="{{idPrefix}}graph-it-graph-container-main-wrapper" class="graph-it-graph-container-main-wrapper">
<div id="{{idPrefix}}graph-it-graph-container" class="graph-it-graph-container">
    <canvas id="{{idPrefix}}graph-it-canvas" width="{{canvasWidth}}" height="{{canvasHeight}}" class="{{idPrefix}}canvas"></canvas>
    <div id="{{idPrefix}}graph-controls" class="graph-controls">
        <div id="{{idPrefix}}draw-line-control" class="draw-line-control">
            <div id="{{idPrefix}}draw-line-btn" class="draw-line-btn"></div>
            <div id="{{idPrefix}}draw-line-label" class="draw-line-label"></div>
        </div>
        <div id="{{idPrefix}}move-line-control" class="move-line-control">
            <div id="{{idPrefix}}move-line-btn" class="move-line-btn"></div>
            <div id="{{idPrefix}}move-line-label" class="move-line-label"></div>
        </div>
        <div id="{{idPrefix}}users-graph-control" class="users-graph-control">
            <div id="{{idPrefix}}users-graph-btn" class="users-graph-btn"></div>
            <div id="{{idPrefix}}users-graph-label" class="users-graph-label"></div>
        </div>
        <div id="{{idPrefix}}feedback-graph-control" class="feedback-graph-control">
            <div id="{{idPrefix}}feedback-graph-btn" class="feedback-graph-btn"></div>
            <div id="{{idPrefix}}feedback-graph-label" class="feedback-graph-label"></div>
        </div>
        <div id="{{idPrefix}}clear-graph-btn" class="clear-graph-btn"></div>
    </div>
    <div id="{{idPrefix}}draw-graph-title" class="draw-graph-title typography-header">
    </div>
    <div id="{{idPrefix}}draw-graph-x-axis-label" class="draw-graph-x-axis-label typography-label">
    </div>
    <div id="{{idPrefix}}draw-graph-y-axis-label" class="draw-graph-y-axis-label typography-label">
    </div>
</div>
</div>