<div id="{{idPrefix}}intro-box" class="intro-box {{idPrefix}}intro-box">

  <div id="{{idPrefix}}intro-box-header" class="intro-box-header {{idPrefix}}intro-box-header">
    <div id="{{idPrefix}}intro-box-title" class="typography-header {{idPrefix}}intro-box-title">
      {{{title}}}
    </div>
    <div id="{{idPrefix}}intro-box-tts-container" class="intro-box-tts-container {{idPrefix}}intro-box-tts-container"></div>
  </div>
  <div id="{{idPrefix}}intro-box-text" class="intro-box-text {{idPrefix}}intro-box-text">
    {{{text}}}
  </div>
  <div id="{{idPrefix}}intro-btns-container" class="intro-btns-container {{idPrefix}}intro-btns-container"></div>
</div>