<div class="{{idPrefix}}pan-balance-structured-wrapper pan-balance-structured-wrapper-main">

    <div class="pan-wrapper left-pan-wrapper">
        <div class="left-tile-container tile-container">
            <div id="{{idPrefix}}-left-static-container" class="static-container"></div>
            <div id="{{idPrefix}}-left-dynamic-container" class="dynamic-container">
                <div id="{{idPrefix}}-left-accessibility-dynamic-wrapper" class="accessibility-dynamic-wrapper" data-pos="left"></div>
                <div id="{{idPrefix}}-left-dynamic-wrapper" class="dynamic-wrapper" data-pos="left"></div>
            </div>
        </div>
        <div class="pan left-pan">
            <div class="pan-data typography-label">
                <span class="pan-label"></span>
            </div>
        </div>
    </div>

    <div class="pan-wrapper right-pan-wrapper">
        <div class="right-tile-container tile-container">
            <div id="{{idPrefix}}-right-static-container" class="static-container"></div>
            <div id="{{idPrefix}}-right-dynamic-container" class="dynamic-container">
                <div id="{{idPrefix}}-right-accessibility-dynamic-wrapper" class="accessibility-dynamic-wrapper" data-pos="right"></div>
                <div id="{{idPrefix}}-right-dynamic-wrapper" class="dynamic-wrapper" data-pos="right"></div>
            </div>
        </div>
        <div class="pan right-pan">
            <div class="pan-data typography-label">
                <span class="pan-label"></span>
            </div>
        </div>
    </div>

    <div class="dispenser-container" id="{{idPrefix}}-dispenser-container">
        <div class="dispenser-wrapper">
            <div class="dispenser-row-1"></div>
            <div class="dispenser-row-2"></div>
        </div>
    </div>


    <div class="center-rod"></div>
    <div class="base"></div>
    <div class="small-rod left-small-rod"></div>
    <div class="small-rod right-small-rod"></div>

    <div class="temporary-bins-container">
        <div id="{{idPrefix}}-left-accessibility-temporary-bin" class="accessibility-temporary-bin" data-pos="left"></div>
        <div id="{{idPrefix}}-left-temporary-bin" class="left-temporary-bin temporary-bin" data-pos="left"></div>
        <div id="{{idPrefix}}-right-accessibility-temporary-bin" class="right-accessibility-temporary-bin accessibility-temporary-bin" data-pos="right"></div>
        <div id="{{idPrefix}}-right-temporary-bin" class="right-temporary-bin temporary-bin" data-pos="right"></div>
    </div>
</div>
