<div id="{{idPrefix}}theme2-pop-up-modal" class="theme2-pop-up-modal theme2-pop-up-modal-{{type}}">
    <div id="{{idPrefix}}theme2-pop-up-background-image" class="theme2-pop-up-background theme2-pop-up-background-{{type}}">
    </div>
    <div id="{{idPrefix}}theme2-pop-up-dialogue" class="theme2-pop-up-dialogue theme2-pop-up-dialogue-{{type}}">
        <div id="{{idPrefix}}theme2-pop-up-foreground-image" class="theme2-pop-up-foreground theme2-pop-up-foreground-{{type}}">
        </div>
        <div id="{{idPrefix}}theme2-pop-up-header-btns" class="theme2-pop-up-header-btns-cont theme2-pop-up-header-btns-cont-{{type}}">
            <div id="{{idPrefix}}theme2-pop-up-tts-container" class="theme2-pop-up-tts-container theme2-pop-up-tts-container-{{type}}"></div>
        </div>
        <div id="{{idPrefix}}theme2-pop-up-readable-text-region" class="theme2-pop-up-readable-text-region">
            <div id="{{idPrefix}}theme2-pop-up-title-bar" class="theme2-pop-up-title-bar theme2-pop-up-title-bar-{{type}}">
                <div id="{{idPrefix}}theme2-pop-up-title" class="theme2-pop-up-title theme2-pop-up-title-{{type}}">
                    <div id="{{idPrefix}}theme2-pop-up-title-text" class="theme2-pop-up-title-text theme2-pop-up-title-text-{{type}}">{{{popupTitle}}}</div>
                </div>
            </div>
            <div id="{{idPrefix}}theme2-pop-up-score-display-parent" class="theme2-pop-up-score-display-parent">{{scoreDisplayChild}}
                <div id="{{idPrefix}}theme2-pop-up-score-display" class="theme2-pop-up-score-display theme2-pop-up-score-display-{{type}}">
                    <div id="{{idPrefix}}theme2-pop-up-score-display-text" class="theme2-pop-up-score-display-text theme2-pop-up-score-display-text-{{type}}">
                    </div>
                </div>
            </div>
            <div id="{{idPrefix}}theme2-pop-up-body" class="theme2-pop-up-body theme2-pop-up-body-{{type}}">
                <div id="{{idPrefix}}theme2-pop-up-text" class="theme2-pop-up-text theme2-pop-up-text-{{type}}">
                    {{{popupText}}}
                </div>
                <div id="{{idPrefix}}theme2-pop-up-text-ie9-focusout-fix" class="theme2-pop-up-text-ie9-focusout-fix theme2-pop-up-text-ie9-focusout-fix-{{type}}"></div>
            </div>
        <div id="{{idPrefix}}theme2-pop-up-title-text-combined-acc" class="theme2-pop-up-title-text-combined-acc-{{type}}"></div>
        </div>
        <div id="{{idPrefix}}theme2-pop-up-btns-container" class="theme2-pop-up-btns-container theme2-pop-up-btns-container-{{type}}">
            <div id="{{idPrefix}}theme2-pop-up-btns-aligner" class="theme2-pop-up-btns-aligner theme2-pop-up-btns-aligner-{{type}}">
            </div>
        </div>
    </div>

</div>
