<div id="{{idPrefix}}overview-tab" class="overview-tab overview-container">
    <div id="{{idPrefix}}overview-image-region" class="overview-image-region"></div>
    <div id="{{idPrefix}}overview-text-region" class="overview-text-region">
        <div id="{{idPrefix}}overview-readable-text-region" class="overview-readable-text-region">
            <div id="{{idPrefix}}overview-header-container" class="overview-header-container">
                <div id="{{idPrefix}}overview-header" class="overview-header"></div>
                <div id="{{idPrefix}}overview-header-tts" class="overview-header-tts"></div>
            </div>
            <div id="{{idPrefix}}overview-text" class="overview-text"></div>
        </div>
        <div id="{{idPrefix}}overview-horizontal-rule" class="overview-horizontal-rule"></div>
        <div id="{{idPrefix}}overview-submit-button" class="overview-submit-button"></div>
        <div id="{{idPrefix}}overview-preloader-container" class="overview-preloader-container no-display">
            <div id="{{idPrefix}}overview-preloader-image-container" class="overview-preloader-image-container">
                <div id="{{idPrefix}}overview-throbber" class="overview-throbber"></div>
                <div id="{{idPrefix}}overview-preloader-text" class="overview-preloader-text  typography-label"></div>
            </div>
        </div>
    </div>
</div>