<div id="{{idPrefix}}help-screen" class="help-screen">
  <div id ="{{idPrefix}}help-screen-content" class="help-screen-content"></div>
  <div id="{{idPrefix}}help-footer" class="help-footer">
    <div>
      <div id="{{idPrefix}}help-footer-help-img" class="help-img"></div>
      <div id="{{idPrefix}}help-footer-text" class="help-footer-text"></div>
      <div id ="{{idPrefix}}help-footer-next-btn-container" class="footer-next-btn">
        <div id="{{idPrefix}}help-footer-next-btn" class="help-footer-next-btn"></div>
      </div>
      <div id="{{idPrefix}}help-progress-text" class="help-footer-progress-text"></div>
      <div id ="{{idPrefix}}help-footer-prev-btn-container" class="footer-prev-btn">
        <div id="{{idPrefix}}help-footer-prev-btn" class="help-footer-prev-btn"></div>
      </div>
    </div>
  </div>
</div>
