<div id="{{idPrefix}}{{idSuffix}}stepper-{{stepperIndex}}-container" class="stepper-container">
  <div id="{{idPrefix}}{{idSuffix}}left-arrow-button-{{stepperIndex}}-container" class="left-arrow-button-container">
    <div id="{{idPrefix}}{{idSuffix}}left-arrow-button-{{stepperIndex}}-holder" class="left-arrow-button-holder"></div>
  </div>
  <div id="{{idPrefix}}{{idSuffix}}in-out-title-{{stepperIndex}}-container" class="in-out-title-container">
    <div id="{{idPrefix}}{{idSuffix}}in-title-{{stepperIndex}}-container" class="in-title-container title-container">
        <span id="{{idPrefix}}{{idSuffix}}in-title-{{stepperIndex}}-text" class ="in-title-text title-text"></span>
      </div>
      <div id="{{idPrefix}}{{idSuffix}}out-title-{{stepperIndex}}-container" class="out-title-container title-container">
        <span id="{{idPrefix}}{{idSuffix}}out-title-{{stepperIndex}}-text" class ="out-title-text title-text"></span>
      </div>
      {{#if challenge2Data}}
      <div id="{{idPrefix}}{{idSuffix}}guess-title-{{stepperIndex}}-container" class="guess-title-container title-container">
        <span id="{{idPrefix}}{{idSuffix}}guess-title-{{stepperIndex}}-text" class ="guess-title-text title-text"></span>
      </div>
      {{/if}}
    </div>
  <div id="{{idPrefix}}{{idSuffix}}in-out-cards-{{stepperIndex}}-wrapper" class="in-out-cards-wrapper">
    <div id="{{idPrefix}}{{idSuffix}}in-out-cards-{{stepperIndex}}-container" class="in-out-cards-container">
      <div id="{{idPrefix}}{{idSuffix}}in-out-cards-{{stepperIndex}}-holder" class="in-out-cards-holder">
      </div>
    </div>
  </div>
  <div id="{{idPrefix}}{{idSuffix}}right-arrow-button-{{stepperIndex}}-container" class="right-arrow-button-container">
    <div id="{{idPrefix}}{{idSuffix}}right-arrow-button-{{stepperIndex}}-holder" class="right-arrow-button-holder"></div>
  </div>
</div>