<div id="{{spinBoxId}}-content-holder" class="spinbox">
  <div id ="{{spinBoxId}}-down-arrow" class='spin-down-arrow arrowbutton'></div>
  <div id="{{spinBoxId}}-text"  class="spin-textbox">
    <div id="{{spinBoxId}}-value"  class="spin-value"></div>
  </div>
  <div id="{{spinBoxId}}-up-arrow" class='spin-up-arrow arrowbutton'></div>
</div>