<div id="{{containerId}}-check-box-container" class="check-box-container">
    <div id="{{containerId}}-check-box-icon-container" class="check-box-icon-container check-box-elements">
        <div id="{{containerId}}-check-box-icon" class="check-box-icon">
            <div id="{{containerId}}-check-icon" class="check-icon"></div>
        </div>
    </div>
  <div id="{{containerId}}-check-box-label-container" class="check-box-label-container">
      <span id="{{containerId}}-check-box-label" class="check-box-label check-box-elements"></span>
  </div>
</div>