<div id="{{emptyModalId}}-modal" class="empty-modal-modal">
  <div id="{{emptyModalId}}" class="empty-modal-container">
    <div id="{{emptyModalId}}-close-button" class="empty-modal-close-button"></div>
    <div id="{{emptyModalId}}-body" class="empty-modal-body"></div>
    <div id="{{emptyModalId}}-action-panel" class="empty-modal-action-panel"></div>
  </div>
</div>