<div id="{{idPrefix}}conic-section-container" class="conic-section-container">
	<div id="{{idPrefix}}canvas-container" class="canvas-container">
		<canvas id="{{idPrefix}}activity-canvas" class="activity-canvas" width="384" height="363"></canvas>
    <div id="{{idPrefix}}conic-reset-button" class="conic-reset-button"></div>
    <div id="{{idPrefix}}conic-rotate-angle-text" class="rotate-angle-text"></div>
    <div id="{{idPrefix}}conic-rotate-about-x-axis-button" class="conic-rotate-about-x-axis-button"></div>
    <div id="{{idPrefix}}conic-rotate-about-y-axis-button" class="conic-rotate-about-y-axis-button"></div>
    <div id="{{idPrefix}}conic-rotate-about-z-axis-button" class="conic-rotate-about-z-axis-button"></div>
	</div>
  
  <div id="{{idPrefix}}spin-button-container" class="spin-button-container">
    <div id="{{idPrefix}}plane-data-container" class="plane-data-container">
      <div id="{{idPrefix}}plane-label" class="plane-label"></div>
      <div id="{{idPrefix}}plane-slop-label" class="plane-slop-label"></div>
      <div id="{{idPrefix}}plane-slop-custom-spinner-container" class="plane-slop-custom-spinner-container"></div>
      <div id="{{idPrefix}}plane-offset-label" class="plane-offset-label"></div>
      <div id="{{idPrefix}}plane-offset-custom-spinner-container" class="plane-offset-custom-spinner-container"></div>
    </div>
    <div id="{{idPrefix}}cone-data-container" class="cone-data-container">
      <div id="{{idPrefix}}cone-label" class="cone-label"></div>
      <div id="{{idPrefix}}cone-height-label" class="cone-height-label"></div>
      <div id="{{idPrefix}}cone-height-custom-spinner-container" class="cone-height-custom-spinner-container"></div>
      <div id="{{idPrefix}}cone-slop-label" class="cone-slop-label"></div>
      <div id="{{idPrefix}}cone-slop-custom-spinner-container" class="cone-slop-custom-spinner-container"></div>
    </div>
  </div>
</div>
