<div id="{{idPrefix}}explore-tab-container" class="explore-tab-container">
    <div id="{{idPrefix}}direction-text-container" class="direction-text-container"></div>
    <div id="{{idPrefix}}explore-tab-content-container" class="explore-tab-content-container">
      <div id="{{idPrefix}}conic-section-wrapper" class="conic-section-wrapper">
      </div>
      <div id="{{idPrefix}}graph-view-wrapper" class="graph-view-wrapper">

        <div id="{{idPrefix}}graph-canvas-container" class="graph-canvas-container">
          <canvas id="{{idPrefix}}graph-canvas" class="graph-canvas" height="489" width="478"></canvas>
        </div>
        <div id="{{idPrefix}}graph-zoom-in-button" class="graph-zoom-in-button"></div>
        <div id="{{idPrefix}}graph-reset-button" class="graph-reset-button"></div>
        <div id="{{idPrefix}}graph-zoom-out-button" class="graph-zoom-out-button"></div>
      </div>
    </div>
</div>