<div id="{{idPrefix}}theme2-pop-up-modal-container" class="theme2-pop-up-modal-container"> 
<div id="{{idPrefix}}theme2-pop-up-modal-top" class="theme2-pop-up-modal theme2-pop-up-modal-{{type}} theme2-pop-up-modal-top"> </div>
<div id="{{idPrefix}}theme2-pop-up-modal-center-container" class="theme2-pop-up-modal-center-container"> 
<div id="{{idPrefix}}theme2-pop-up-modal-left" class="theme2-pop-up-modal theme2-pop-up-modal-{{type}} theme2-pop-up-modal-left"> </div>
<div id="{{idPrefix}}theme2-pop-up-modal-right" class="theme2-pop-up-modal theme2-pop-up-modal-{{type}} theme2-pop-up-modal-right"> </div>
</div>
<div id="{{idPrefix}}theme2-pop-up-modal-bottom-left" class="theme2-pop-up-modal theme2-pop-up-modal-{{type}}  theme2-pop-up-modal-bottom theme2-pop-up-modal-bottom-left"> </div>
   <div id="{{idPrefix}}theme2-pop-up-modal-bottom-right" class="theme2-pop-up-modal theme2-pop-up-modal-{{type}}  theme2-pop-up-modal-bottom theme2-pop-up-modal-bottom-right"> </div>
   
    <div id="{{idPrefix}}color-picker-container" class="color-picker-container">
        <div id="{{idPrefix}}color-picker-header" class="color-picker-header">
            <div id="{{idPrefix}}header-text" class="header-text"></div>
            <div id="{{idPrefix}}close-button-holder" class="close-button-holder">
                <div id="{{idPrefix}}close-button" class="close-button"></div>
            </div>
        </div>
        <div id="{{idPrefix}}color-section" class="color-section">
		 <div id="{{idPrefix}}color-picker-acc-disk-container" class="color-picker-disk-container"></div>
          <div id="{{idPrefix}}color-picker-disk-container" class="color-picker-disk-container">
            <div id="{{idPrefix}}disc-holder" class="disk-holder"></div>
                <canvas id="{{idPrefix}}color-disk" class="color-disc" height="220" width="220"></canvas>            
          </div>
            <div id="{{idPrefix}}luminance-bar-holder" class="luminance-bar-holder">
                <div id="{{idPrefix}}luminance-slider-holder" class="luminance-slider-holder">
                    <div id="{{idPrefix}}luminance-slider" class="luminance-slider">
                        <div id="{{idPrefix}}luminance-bar-white" class="luminance-bar-white"></div>
                        <canvas id="{{idPrefix}}luminance-gradient" class="luminance-gradient" height="230" width="11"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div id="{{idPrefix}}opacity-section" class="opacity-section">
            <div id="{{idPrefix}}opacity-bar-holder" class="opacity-bar-holder">
                <div id="{{idPrefix}}opacity-slider" class="opacity-slider">
                    <canvas id="{{idPrefix}}opacity-gradient" height="12" width="230"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>