<div id="{{idPrefix}}edit-pop-up-modal" class="edit-pop-up-modal">
  <div id="{{idPrefix}}edit-popup-container" class="edit-popup-container">
    <div id="{{idPrefix}}edit-image-container" class="edit-image-container">
      <canvas id="{{idPrefix}}edit-popup-canvas" class="edit-popup-canvas" width="295" height="290"></canvas>
    </div>
    <div id="{{idPrefix}}button-side-bar" class="button-side-bar">
      <div id="{{idPrefix}}gallery-close-button" class="gallery-close-button"></div>
      <div id="{{idPrefix}}edit-button" class="edit-button"></div>
      <div id="{{idPrefix}}delete-button" class="delete-button"></div>
    </div>
  </div>
</div>