<div id="{{idPrefix}}explore-shape-slicer-container" class="explore-shape-slicer-container">

    <div id="{{idPrefix}}explore-tab-direction-text" class="explore-tab-direction-text"></div>
    <div id="{{idPrefix}}explore-tab-activity-area" class="explore-tab-activity-area">
	<div id="{{idPrefix}}temp-focus-div" class="temp-focus-div"></div>
        <div id="{{idPrefix}}explore-tab-left-part-container" class="explore-tab-left-part-container">

            <div id="{{idPrefix}}shape-buttons-panel" class="shape-buttons-panel"></div>
			 <div id="{{idPrefix}}shape-buttons-panel-modal" class="shape-buttons-panel-modal hover-modal"></div>
			 
            <div id="{{idPrefix}}left-canvas-container" class="left-canvas-container">
                <div id="{{idPrefix}}tooltip-display-container" class="tooltip-display-container"></div>
				   <div id="{{idPrefix}}canvas-acc-container" class="activity-canvas-wrapper"></div>
                <div id="shape-slicer-activity-canvas-wrapper" class="activity-canvas-wrapper">
                    <div id="shape-slicer-activity-canvas-screenshot-hack" class="activity-canvas-screenshot-hack"></div>
                    <canvas id="shape-slicer-activity-canvas" class="activity-canvas common-browser" width="432" height="353"></canvas>
                </div>
            </div>
			<div id="{{idPrefix}}left-canvas-container-modal" class="left-canvas-container left-canvas-container-modal hover-modal"></div>
			
            <div id="{{idPrefix}}reset-rotate-buttons-panel" class="reset-rotate-buttons-panel">
                <div id="{{idPrefix}}reset-button-container" class="reset-button-container"></div>
                <div id="{{idPrefix}}rotate-label-container" class="rotate-label-container"></div>

                <div id="{{idPrefix}}rotate-about-x-axis-button-container" class="rotate-about-x-axis-button-container rotate-button x"></div>
                <div id="{{idPrefix}}rotate-about-y-axis-button-container" class="rotate-about-y-axis-button-container rotate-button y"></div>
                <div id="{{idPrefix}}rotate-about-z-axis-button-container" class="rotate-about-z-axis-button-container rotate-button z"></div>

            </div>
		<div id="{{idPrefix}}reset-rotate-buttons-panel-modal" class="reset-rotate-buttons-panel reset-rotate-buttons-panel-modal hover-modal"></div>
		
            <div id="{{idPrefix}}slice-button-container" class="slice-button-container buttons-to-be-disabled"></div>
		
        </div>
	
        <div id="{{idPrefix}}explore-tab-right-part-container" class="explore-tab-right-part-container">

            <div id="{{idPrefix}}background-color-selector-container" class="background-color-selector-container">
                <div id="{{idPrefix}}background-color-label-container" class="background-color-label-container"></div>
                <div id="{{idPrefix}}white-color-selector" class="white-color-selector back-color-selector buttons-to-be-disabled"></div>
                <div id="{{idPrefix}}gray-color-selector" class="gray-color-selector back-color-selector buttons-to-be-disabled"></div>
            </div>
			<div id="{{idPrefix}}background-color-selector-container-modal" class="background-color-selector-container background-color-selector-container-modal hover-modal"></div>
             <div id="{{idPrefix}}right-panel-canvas-acc-container" class="right-panel-canvas-container"></div>
			<div id="{{idPrefix}}right-panel-canvas-container" class="right-panel-canvas-container">
                <canvas id="{{idPrefix}}right-panel-canvas" width="414" height="410"></canvas>
                <div id="{{idPrefix}}right-part-text-container" class="right-part-text-container"></div>
                <div id="{{idPrefix}}color-picker-trash-buttons-container" class="color-picker-trash-buttons-container">
                    <div id="{{idPrefix}}color-picker-button-container" class="color-picker-button-container shape-2d-button"></div>
                    <div id="{{idPrefix}}trash-button-container" class="trash-button-container shape-2d-button"></div>
                </div>
            </div>
			 <div id="{{idPrefix}}right-panel-canvas-container-modal" class="right-panel-canvas-container-modal hover-modal"></div>
			 
            <div id="{{idPrefix}}right-part-buttons-panel" class="right-part-buttons-panel">
                <div id="{{idPrefix}}clear-button-container" class="clear-button-container right-part-button buttons-to-be-disabled"></div>
                <div id="{{idPrefix}}save-image-button-container" class="save-image-button-container right-part-button buttons-to-be-disabled"></div>
                <div id="{{idPrefix}}view-gallery-button-container" class="view-gallery-button-container right-part-button buttons-to-be-disabled"></div>
            </div>
		
        </div>
		<div id="{{idPrefix}}bottom-buttons-modal " class="bottom-buttons-modal hover-modal"></div>
    </div>

</div>