<div id="{{idPrefix}}gallery-shape-slicer-container" class="gallery-shape-slicer-container">
    <div id="{{idPrefix}}gallery-tab-direction-text-container" class="gallery-tab-direction-text-container">
        <div id="{{idPrefix}}gallery-tab-back-button" class="gallery-tab-back-button"></div>
    </div>
    <div id="{{idPrefix}}gallery-activity-area" class="gallery-activity-area">
        <div id="{{idPrefix}}gallery-carousel-container" class="gallery-carousel-container"></div>
        <div id="{{idPrefix}}gallery-dot-container" class="gallery-dot-container">
            <div id="{{idPrefix}}dot-1" class="dot-1 gallery-dot active"></div>
            <div id="{{idPrefix}}dot-2" class="dot-2 gallery-dot"></div>
            <div id="{{idPrefix}}dot-3" class="dot-3 gallery-dot"></div>
        </div>
    </div>
</div>