<div id="{{idPrefix}}explore-tab" class="explore">
    <div id="{{idPrefix}}child-cont" class="child-cont"></div>
    <div id="{{idPrefix}}canvas-container" class="canvas-container"></div>
    <div id="{{idPrefix}}canvas-activity-area" class="canvas-activity-area"></div>

    <!--<div id="{{idPrefix}}instruction-container" class="instruction-container">
        <div id="{{idPrefix}}instruction-text" class="instruction-text"></div>
        <div id="{{idPrefix}}try-another-button" class="try-another-button"></div>
    </div>-->
    <div id="{{idPrefix}}explorer-direction-text" class="explorer-direction-text"></div>
    <div id="{{idPrefix}}explore-tab-coordinates" class="explore-tab-coordinates">
        <div id="{{idPrefix}}start-coordinate" class="start-coordinate"></div>
        <div id="{{idPrefix}}end-coordinate" class="end-coordinate"></div>
    </div>

    <div id="{{idPrefix}}axis-label" class="axis-label">
        <div id="{{idPrefix}}x-axis-label" class="x-axis-label"></div>
        <div id="{{idPrefix}}y-axis-label" class="y-axis-label"></div>
        <div id="{{idPrefix}}origin-label" class="origin-label">0</div>
    </div>

    <div id="{{idPrefix}}input-box-container" class="input-box-container">
        <span id="{{idPrefix}}left-bracket" class="left-bracket">(</span>
        <div id="{{idPrefix}}x-input-box" class="x-input-box"></div>
        <span id="{{idPrefix}}comma" class="comma">,</span>
        <div id="{{idPrefix}}y-input-box" class="y-input-box"></div>
        <span id="{{idPrefix}}right-bracket" class="right-bracket">)</span>
    </div>

    <div id="{{idPrefix}}chop-button" class="chop-button"></div>
    <div id="{{idPrefix}}see-math-button" class="see-math-button"></div>
    <div id="{{idPrefix}}kick-button" class="kick-button"></div>  

    <div id="{{idPrefix}}book-container-1" class ="book-container-1"></div>
    <div id="{{idPrefix}}book-container-2" class ="book-container-2"></div>

    <div id ="{{idPrefix}}object-container" class="object-container">
        <div id ="{{idPrefix}}object-name-text" class ="object-name-text"></div>
    </div>

    <div id="{{idPrefix}}feedback-screen" class="feedback-screen">
        <div id="{{idPrefix}}your-answer-container" class="your-answer-container">
            <div id="{{idPrefix}}your-answer-bullet" class="your-answer-bullet"></div>
            <div id="{{idPrefix}}your-answer" class="your-answer"> </div>
        </div>
        <div id="{{idPrefix}}feedback-answers" class="feedback-answers">
            <div id="{{idPrefix}}plank-left-cordinate" class="plank-left-cordinate"></div>
            <div id="{{idPrefix}}plank-right-cordinate" class="plank-right-cordinate"></div>
            <div id="{{idPrefix}}feedback-ratio-div" class="feedback-ratio-div"></div>
            <div id="{{idPrefix}}answerFt1" class="answerFt1"></div>
            <div id="{{idPrefix}}answerFt2" class="answerFt2"></div>
        </div>
        <div id="{{idPrefix}}feedback-instruction-try-again" class="feedback-instruction-try-again">
            <div  id="{{idPrefix}}try-again" class="try-again"></div>
            <div  id="{{idPrefix}}feedback-instruction-heading-text" class="feedback-instruction-heading-text"></div>
            <div id="{{idPrefix}}feedback-instruction-text" class="feedback-instruction-text"></div>
        </div>
    </div>   

</div>