<div id="{{idPrefix}}{{containerId}}-carousel-acc-div" class="{{containerId}}-carousel-acc-div"></div>
<div id="{{idPrefix}}{{containerId}}-carousel-temp-focus-div" class="{{containerId}}-carousel-temp-focus-div"></div>
<div id="{{idPrefix}}{{containerId}}-slides-holder" class="{{containerId}}-slides-holder"></div>
<div id="{{idPrefix}}{{containerId}}-slide-number-indicator-holder" class="{{containerId}}-slide-number-indicator-holder">
    <div id="{{idPrefix}}{{containerId}}-slide-number-indicator" class="{{containerId}}-slide-number-indicator"></div>
</div>
<div id="{{idPrefix}}{{containerId}}-prev-slide-btn-holder" class="{{containerId}}-prev-slide-btn-holder {{containerId}}-slide-btn-holder">
    <div id="{{idPrefix}}{{containerId}}-prev-slide-btn" class="{{containerId}}-prev-slide-btn {{containerId}}-slide-btns"></div>
</div>
<div id="{{idPrefix}}{{containerId}}-next-slide-btn-holder" class="{{containerId}}-next-slide-btn-holder {{containerId}}-slide-btn-holder">
    <div id="{{idPrefix}}{{containerId}}-next-slide-btn" class="{{containerId}}-next-slide-btn {{containerId}}-slide-btns"></div>
</div>