<!--<div id="{{idPrefix}}carousel-page-acc-holder"></div>-->
<div id="{{idPrefix}}carousel-page" class="carousel-page">
    <div id="{{idPrefix}}carousel-page-direction-text-panel" class="direction-text-panel">
        <div id="{{idPrefix}}carousel-page-direction-text-holder" class="direction-text-holder"></div>
    </div>
    <div id="{{idPrefix}}carousel-view" class="carousel-view"></div>
    <div id="{{idPrefix}}carousel-page-score-card-btn-holder" class="carousel-page-score-card-btn-holder">
        <div id="{{idPrefix}}carousel-page-score-card-btn" class="carousel-page-score-card-btn"></div>
    </div>
</div>