<div id="{{idPrefix}}main-container-{{level}}" class="level-{{level}} main-container">
    <div id="{{idPrefix}}direction-text-{{level}}" class="level-{{level}} direction-text"></div>
    <div id="{{idPrefix}}work-area-{{level}}" class="level-{{level}} work-area">
        <div id="{{idPrefix}}canvas-holder-{{level}}-acc-container" class="level-{{level}}-acc-container canvas-holder-acc-container">
        </div>
        <div id="{{idPrefix}}canvas-holder-{{level}}" class="level-{{level}} canvas-holder">
            <canvas id="{{idPrefix}}game-canvas-{{level}}-2" class="level-{{level}} canvas" width="928" height="502"></canvas>
            <canvas id="{{idPrefix}}game-canvas-{{level}}" class="level-{{level}} canvas" width="928" height="502"></canvas>
            <div id="{{idPrefix}}take-shot-btn-holder-{{level}}" class="take-shot-btn-holder take-shot-btn-holder-{{level}}">
                <div id="{{idPrefix}}take-shot-btn-{{level}}" class="take-shot-btn take-shot-btn-{{level}}"></div>
            </div>
        </div>
        <div id="{{idPrefix}}course-title-obstacle-holder-{{level}}" class="course-title-obstacle-holder-{{level}} course-title-obstacle-holder">
            <div id="{{idPrefix}}course-title-holder-{{level}}" class="course-title-holder-{{level}} course-title-holder">
                <div id="{{idPrefix}}course-number-indicator-{{level}}" class="course-number-indicator-{{level}} course-number-indicator"></div>
                <div id="{{idPrefix}}course-title-{{level}}" class="course-title-{{level}} course-title"></div>
            </div>
            <div id="{{idPrefix}}reset-course-btn-holder-{{level}}" class="reset-course-btn-holder-{{level}} reset-course-btn-holder">
                <div id="{{idPrefix}}reset-course-btn-{{level}}" class="reset-course-btn-{{level}} reset-course-btn"></div>
            </div>
            <div id="{{idPrefix}}obstacles-holder-{{level}}" class="obstacles-holder-{{level}} obstacles-holder"></div>
            <div id="{{idPrefix}}course-score-card-btn-holder-{{level}}" class="course-score-card-btn-holder-{{level}} course-score-card-btn-holder">
                <div id="{{idPrefix}}course-score-card-btn-{{level}}" class="course-score-card-btn-{{level}} course-score-card-btn"></div>
            </div>
        </div>
        <div id="{{idPrefix}}skip-animation-btn-holder-{{level}}" class="skip-animation-btn-holder-{{level}} skip-animation-btn-holder">
            <div id="{{idPrefix}}skip-animation-btn-{{level}}" class="skip-animation-btn-{{level}} skip-animation-btn"></div>
        </div>
    </div>
</div>


