<div id="{{idPrefix}}course-{{courseNumber}}-score-card" class="course-score-card course-{{courseNumber}}-score-card">
    <div id="{{idPrefix}}course-{{courseNumber}}-trophy-holder" class="course-trophy-holder course-{{courseNumber}}-trophy-holder">
        <div id="{{idPrefix}}course-{{courseNumber}}-trophy" class="course-trophy course-{{courseNumber}}-trophy"></div>
    </div>
    <div id="{{idPrefix}}course-{{courseNumber}}-details" class="course-details course-{{courseNumber}}-details">
        <div id="{{idPrefix}}course-{{courseNumber}}-static-details" class="course-static-details course-{{courseNumber}}-static-details">
            <div id="{{idPrefix}}course-{{courseNumber}}-number" class="course-number course-{{courseNumber}}-number"></div>
            <div id="{{idPrefix}}course-{{courseNumber}}-title" class="course-title course-{{courseNumber}}-title"></div>
        </div>
        <div id="{{idPrefix}}course-{{courseNumber}}-seperator-holder" class="course-seperator-holder course-{{courseNumber}}-seperator-holder">
            <div id="{{idPrefix}}course-{{courseNumber}}-seperator" class="course-seperator course-{{courseNumber}}-seperator"></div>
        </div>
        <div id="{{idPrefix}}course-{{courseNumber}}-dynamic-details" class="course-dynamic-details course-{{courseNumber}}-dynamic-details">
            <div id="{{idPrefix}}course-{{courseNumber}}-locked" class="course-locked course-{{courseNumber}}-locked">
                <div id="{{idPrefix}}course-{{courseNumber}}-lock-holder" class="course-lock-holder course-{{courseNumber}}-lock-holder">
                    <div id="{{idPrefix}}course-{{courseNumber}}-lock-symbol" class="course-lock-symbol course-{{courseNumber}}-lock-symbol"></div>
                    <div id="{{idPrefix}}course-{{courseNumber}}-lock-text" class="course-lock-text course-{{courseNumber}}-lock-text"></div>
                </div>
            </div>
            <div id="{{idPrefix}}course-{{courseNumber}}-unlocked" class="course-unlocked course-{{courseNumber}}-unlocked">
                <div id="{{idPrefix}}course-{{courseNumber}}-play-count-details-holder" class="course-play-count-details-holder course-{{courseNumber}}-play-count-details-holder">
                    <div id="{{idPrefix}}course-{{courseNumber}}-play-count-details" class="course-play-count-details course-{{courseNumber}}-play-count-details">
                        <div id="{{idPrefix}}course-{{courseNumber}}-play-count-text" class="course-play-count-text course-{{courseNumber}}-play-count-text"></div>
                        <div id="{{idPrefix}}course-{{courseNumber}}-play-count" class="course-play-count course-{{courseNumber}}-play-count"></div>
                    </div>
                </div>
                <div id="{{idPrefix}}course-{{courseNumber}}-hole-in-1-details-holder" class="course-hole-in-1-details-holder course-{{courseNumber}}-hole-in-1-details-holder">
                    <div id="{{idPrefix}}course-{{courseNumber}}-hole-in-1-details" class="course-hole-in-1-details course-{{courseNumber}}-hole-in-1-details">
                        <div id="{{idPrefix}}course-{{courseNumber}}-hole-in-1-text" class="course-hole-in-1-text course-{{courseNumber}}-hole-in-1-text"></div>
                        <div id="{{idPrefix}}course-{{courseNumber}}-hole-in-1-count" class="course-hole-in-1-count course-{{courseNumber}}-hole-in-1-count"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>