<div id="{{idPrefix}}play-game-container" class="play-game-container">
    <div id="{{idPrefix}}carousel-page-container" class="carousel-page-container"></div>
    <div id="{{idPrefix}}courses-view-container" class="courses-view-container">
    </div>
    <div id="{{idPrefix}}score-card-container" class="score-card-container"></div>
    <div id="{{idPrefix}}confetti-container" class="confetti-container"></div>
</div>
