<!--<div id="{{idPrefix}}score-card-acc-holder" class="score-card-acc-holder"></div>-->
<div id="{{idPrefix}}score-card" class="score-card">
    <div id="{{idPrefix}}score-card-title-bar" class="score-card-title-bar">
        <div id="{{idPrefix}}score-card-title-holder" class="score-card-title-holder">
            <div id="{{idPrefix}}score-card-title-icon" class="score-card-title-icon"></div>
            <div id="{{idPrefix}}score-card-title" class="score-card-title"></div>
        </div>
        <div id="{{idPrefix}}score-card-close-btn-holder" class="score-card-close-btn-holder">
            <div id="{{idPrefix}}score-card-close-button" class="score-card-close-button"></div>
        </div>
    </div>
    <div id="{{idPrefix}}score-card-main-panel" class="score-card-main-panel">
        <div id="{{idPrefix}}score-card-levels-holder" class="score-card-levels-holder">
            <!--will contain the 4 levels-->
        </div>
    </div>
    <div id="{{idPrefix}}score-card-footer" class="score-card-footer">
        <div id="{{idPrefix}}score-card-back-btn-holder" class="score-card-back-btn-holder">
            <div id="{{idPrefix}}score-card-back-button" class="score-card-back-button"></div>
        </div>
        <div id="{{idPrefix}}score-card-clear-btn-holder" class="score-card-clear-btn-holder">
            <div id="{{idPrefix}}score-card-clear-button" class="score-card-clear-button"></div>
        </div>
    </div>
</div>