<div id="math-tool-bottom-toolbar-{{tool-id}}" class="toolbar-holder math-tool-bottom-toolbar" isVisible="true">
    <div id="math-tool-bottom-container" class="bottom-toolbar-container">
        <div id="math-tool-bottom-button-container-{{tool-id}}" class="toolbar-button-container">
            <div id="math-tool-save-btn-container-{{tool-id}}" class="button-holder {{#unless isPreAuthoringEnv}}hide{{/unless}}">
                <div id="math-tool-btn-save-{{tool-id}}" class="bottom-toolbar-btn footer-btn" data-toolid="{{tool-id}}">
                    <div id="math-tool-save-btn-icon-{{tool-id}}" class="footer-btn-icon math-tool-save-btn-icon"></div>
                </div>
                <div id="math-tool-btn-seperator1-{{tool-id}}" class="footer-btn-seperator"></div>
            </div>
            <div id="math-tool-open-btn-container-{{tool-id}}" class="button-holder hide">
                <div id="math-tool-btn-open-{{tool-id}}" class="bottom-toolbar-btn footer-btn" data-toolid="{{tool-id}}">
                    <div id="math-tool-open-btn-icon-{{tool-id}}" class="footer-btn-icon math-tool-open-btn-icon"></div>
                </div>
                <div id="math-tool-btn-seperator2-{{tool-id}}" class="footer-btn-seperator"></div>
            </div>
            <div id="math-tool-screenshot-btn-container-{{tool-id}}" class="button-holder">
                <div id="math-tool-btn-screenshot-{{tool-id}}" class="bottom-toolbar-btn footer-btn" data-toolid="{{tool-id}}">
                    <div id="math-tool-screenshot-btn-icon-{{tool-id}}" class="footer-btn-icon math-tool-screenshot-btn-icon"></div>
                </div>
                <div id="math-tool-btn-seperator3-{{tool-id}}" class="footer-btn-seperator"></div>
            </div>
            <div id="math-tool-print-btn-container-{{tool-id}}" class="button-holder hide">
                <div id="math-tool-btn-print-{{tool-id}}" class="bottom-toolbar-btn footer-btn" data-toolid="{{tool-id}}">
                    <div id="math-tool-print-btn-icon-{{tool-id}}" class="footer-btn-icon math-tool-print-btn-icon"></div>
                </div>
                <div id="math-tool-btn-seperator4-{{tool-id}}" class="footer-btn-seperator"></div>
            </div>
            <div id="math-tool-csv-btn-container-{{tool-id}}" class="button-holder">
                <div id="math-tool-btn-csv-{{tool-id}}" class="bottom-toolbar-btn footer-btn" data-toolid="{{tool-id}}">
                    <div id="math-tool-csv-btn-icon-{{tool-id}}" class="footer-btn-icon math-tool-csv-btn-icon"></div>
                </div>
                <div id="math-tool-btn-seperator4-{{tool-id}}" class="footer-btn-seperator"></div>
            </div>
            <div id="math-tool-zoom-btn-panel-{{tool-id}}" class="zoom-buttons-panel">
                <div id="math-tool-zoomin-btn-container-{{tool-id}}" class="button-holder">
                    <div id="math-tool-btn-zoomin-{{tool-id}}" class="bottom-toolbar-btn footer-btn" data-toolid="{{tool-id}}">
                        <div id="math-tool-zoomin-btn-icon-{{tool-id}}" class="footer-btn-icon math-tool-zoomin-btn-icon"></div>
                    </div>
                    <div id="math-tool-btn-seperator7-{{tool-id}}" class="footer-btn-seperator"></div>
                </div>
                <div id="math-tool-zoomdefault-btn-container-{{tool-id}}" class="button-holder">
                    <div id="math-tool-btn-zoomdefault-{{tool-id}}" class="bottom-toolbar-btn footer-btn" data-toolid="{{tool-id}}">
                        <div id="math-tool-zoomdefault-btn-icon-{{tool-id}}" class="footer-btn-icon math-tool-zoomdefault-btn-icon"></div>
                    </div>
                    <div id="math-tool-btn-seperator6-{{tool-id}}" class="footer-btn-seperator"></div>
                </div>
                <div id="math-tool-zoomout-btn-container-{{tool-id}}" class="button-holder">
                    <div id="math-tool-btn-zoomout-{{tool-id}}" class="bottom-toolbar-btn footer-btn" data-toolid="{{tool-id}}">
                        <div id="math-tool-zoomout-btn-icon-{{tool-id}}" class="footer-btn-icon math-tool-zoomout-btn-icon"></div>
                    </div>
                    <div id="math-tool-btn-seperator5-{{tool-id}}" class="footer-btn-seperator"></div>
                </div>
            </div>
        </div>
    </div>
</div>
