<div id="math-tool-top-toolbar-{{tool-id}}" class="toolbar-holder math-tool-top-toolbar">
  <div id="math-tool-toolbar-top-container-{{tool-id}}" class="top-toolbar-container">
    <div id="math-tool-title-container-{{tool-id}}" class="tool-title-container">
      <div id="math-tool-title-icon-{{tool-id}}" class="tool-icon"></div>
      <div id="math-tool-title-text-{{tool-id}}">
        <div id="math-title-text-{{tool-id}}" class="tool-text"></div>
      </div>
    </div>
    <div id="math-tool-top-button-container-{{tool-id}}" class="top-toolbar-button-container">
      <div id="math-tool-btn-help-{{tool-id}}" class="top-toolbar-btn header-btn math-tool-btn-help" data-toolid="{{tool-id}}"></div>
    </div>
  </div>
</div>
