<div id="{{idPrefix}}your-data-label" class="your-data-label"></div>
<div id="{{idPrefix}}dummy-view-button-1" class="dummy-view-button-1"></div>
<div id="{{idPrefix}}record-data-table-container" class="record-data-table-container"></div>
<div id="{{idPrefix}}horizontal-diagram-container" class="horizontal-diagram-container">
    <div id="{{idPrefix}}horizontal-equation-container" class="equation-container">
        <div id="{{idPrefix}}horizontal-equation-label" class="horizontal-equation-label"></div>
        <div id="{{idPrefix}}horizontal-equation-text" class="horizontal-equation-text"></div>
    </div>
    <div class="horizontal-separator"></div>
    <div id="{{idPrefix}}horizontal-diagram-image" class="horizontal-diagram-image"></div>
</div>
<div id="{{idPrefix}}vertical-separator" class="vertical-separator"></div>
<div id="{{idPrefix}}vertical-diagram-container" class="vertical-diagram-container">
    <div id="{{idPrefix}}vertical-equation-container" class="equation-container">
        <div id="{{idPrefix}}vertical-equation-label" class="vertical-equation-label"></div>
        <div id="{{idPrefix}}vertical-equation-text" class="vertical-equation-text"></div>
    </div>
    <div class="horizontal-separator"></div>
    <div id="{{idPrefix}}vertical-diagram-image" class="vertical-diagram-image"></div>
</div>
<div id="{{idPrefix}}go-back-btn" class="go-back-btn"></div>