<{{tagName}} {{#if hasValidLink}}href="{{targetLink}}"{{/if}} class="menu-item-container iconic-text container-fluid custom-fluid no-pad {{this.class}}" role="button" tabindex="0" aria-label="{{accText}}">
    <div class="row no-marg">
        <div class="icon-container col-xs-2 col-md-2 col-small">
            <i class="icon-{{this.icon}}" aria-hidden="true"></i>
        </div>
        <div class="text-container col-xs-10 col-md-10 col-large no-pad" id="iconic-text-container-{{this.icon}}">{{this.text}}</div>
    </div>
</{{tagName}}>