<div id="{{idPrefix}}data-tab" class="data-tab">
  <div id="{{idPrefix}}data-tab-animation-progress-div" class="animation-progress-div"></div>
  <div id="{{idPrefix}}data-tab-direction-text" class="data-tab-direction-text"></div>
  <div id="{{idPrefix}}data-tab-main-container" class="data-tab-main-container">
    <div id="{{idPrefix}}accordion-holder" class="accordion-holder">
      <div id="{{idPrefix}}accordion-container-title" class="accordion-container-title">
          <div id="{{idPrefix}}dummy-help-arrow-div" class="dummy-help-arrow-div"></div>
        </div>
      <div id="{{idPrefix}}accordion-container" class="accordion-container"></div>
    </div>
    <div id="{{idPrefix}}buttons-container" class="buttons-container">
      <div id="{{idPrefix}}back-button" class="back-button"></div>
      <div id="{{idPrefix}}clear-data-button" class="clear-data-button"></div>
    </div>
  </div>
</div>
