<div id="{{idPrefix}}term-tile-container{{tile}}" class="term-tile-container term-tile-container{{tile}}">
  <div id="{{idPrefix}}base-tile-in-term{{tile}}" class="base-tile-in-term base-tile-in-term{{tile}}"></div>
  <div id="{{idPrefix}}exponent-tile-in-term{{tile}}" class="exponent-tile-in-term exponent-tile-in-term{{tile}}"></div>
</div>