<div id="{{idPrefix}}repair-road-tab-container" class="repair-road-tab-container">
    <div id="{{idPrefix}}repair-road-activity-area" class="repair-road-activity-area">
      <div id="{{idPrefix}}direction-text-container" class="direction-text-container"></div>
        <div id="{{idPrefix}}canvas-acc-container" class="canvas-container"></div>
      <div id="{{idPrefix}}canvas-container" class="canvas-container">
        <canvas id="{{idPrefix}}activity-canvas" class="activity-canvas" width="928px" height="512px"></canvas>
      </div>
      <div id="{{idPrefix}}next-button-container" class="next-button-container"></div>
      <div id="{{idPrefix}}start-button-container" class="start-button-container"></div>
      <div id="{{idPrefix}}dummy-tooltip-div" class="dummy-tooltip-div"></div>
    </div>
</div>