<nav id="panel-breadcrumbs-container-{{panelId}}" class="panel-breadcrumbs-container">
    <i class="icon-{{icon}}" aria-hidden="true"></i>
    <h2 class="panel-title">{{title}}</h2>
    <span class="close-icon-holder">
        <button class="button panel-button" aria-label="{{closeBtnAccText}}" title="Close"><i class="icon-close panel-close-btn"></i></button>
    </span>
</nav>
<div id="panel-search-container-{{panelId}}" class="panel-search-container">
    <input type="text" name="search" role="search" placeholder="{{searchPlaceholderText}}" aria-label="{{searchAccText}}"/>
    <span class="search-button-container">
        <button class="button panel-button" aria-label="{{searchBtnAccText}}" title="Search"><i class="icon-search"></i></button>
    </span>
    <div class="bar"></div>
</div>
<div id="panel-main-container-{{panelId}}" class="panel-main-container scrollable custom-scrollbar" tabindex="0" role="document"></div>