<button style="background-color: {{bgColor}};" class="popup-button {{cls}}" id="{{id}}">
    {{#if isIconAvailable}}
        {{#if isIconOnLeft}}
            <i class="{{icon}}"></i><span class="label-container">{{label}}</span>
        {{else}}
            <span class="label-container">{{label}}</span><i class="{{icon}}"></i>
        {{/if}}
    {{else}}
        <span class="label-container">{{label}}</span>
    {{/if}}
</button>